<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Noticias </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="news-card" *ngFor="let item of items;">
    <ion-card-header>
      <ion-row>
        <ion-img [src]="item.image" />
      </ion-row>
    </ion-card-header>
    <ion-card-subtitle>
      <ion-row>
        <ion-col>{{item.title}}</ion-col>
        <ion-col>{{item.date}}</ion-col>
      </ion-row>
    </ion-card-subtitle>
    <ion-card-content>
      <p>{{item.description}}</p>
    </ion-card-content>
    <ion-button expand="block" (click)="deleteItem(item)">
      Eliminar <ion-icon slot="start" name="trash"></ion-icon
    ></ion-button>
  </ion-card>
</ion-content>
